.errorMessageContainer {
  margin-left: 10px;
  font-size: 24px;
}

.postCardButtons{
  text-decoration: underline;
  cursor: pointer;
}

.trashIconStyle {
  margin-top: 10px;
}

.editIconStyyle {
  margin-right: 1em;
  margin-top: 10px;
}